@model int
@{
    Layout = null;

}


<div class="btn-group" role="group"></div>
    <td >
        <a type="button" class="btn btn-primary" href="@Url.Action("Edit/" + Model)">
           EDIT
        </a>
        <a type="button" class="btn btn-success" href="@Url.Action("Details/" + Model)">
            DETAILS
        </a>
        <a type="button" class="btn btn-danger" href="@Url.Action("Delete/" + Model)">
            DELETE
        </a>
        </div>
</td>





